include _partial/helpers

if page.title
  - var current_title = page.title
else
  - var current_title = config.title

if config.feed
  case config.feed.type
    when 'rss2'
      - var feed_type='application/rss+xml'
    when 'atom'
    default
      - var feed_type='application/atom+xml'

doctype html
html(lang='#{config.language}')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
    meta(content='yes', name='apple-mobile-web-app-capable')
    meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
    meta(content='telephone=no', name='format-detection')
    meta(name='description', content=config.description)
    meta(name='baidu-site-verification', content='no5dkv1A7T')
    block title
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css')
    link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css')
    link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/style.css' + '?v=' + theme.version)
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    link(rel='Shortcut Icon', type='image/x-icon', href=url_for('favicon.ico'))
    link(rel='apple-touch-icon', href=url_for('apple-touch-icon.png'))
    link(rel='apple-touch-icon-precomposed', href=url_for('apple-touch-icon.png'))
    script(type='text/javascript', src=url_for(theme.js) + '/main.js')
    block scripts
    if config.feed
      link(rel='alternate', type=feed_type, href=url_for(config.feed.path))

  body
  #header
    .body_container
      #nav-menu
        - for (var i in theme.menu)
          +a_with_current(theme.menu[i].directory, __(theme.menu[i].page), theme.menu[i].icon)
      .site-name
        img.avatar(src=url_for('./img/avatar.png'))
        br
        h1.hidden= current_title
        a#logo(href=url_for('.'))= config.title
        p.description= config.subtitle
        p.links
          a(href=url_for('https://segmentfault.com/u/xpang'))
            img(src=url_for('./img/sf.ico'))
          a(href=url_for('https://github.com/cwj0417'))
            img(src=url_for('./img/github.png'))
          a(href=url_for('https://dribbble.com/fjonas'))
            img(src=url_for('./img/dribbble.ico'))
          a(href=url_for('https://weibo.com/2719310113'))
            img(src=url_for('./img/weibo.ico'))

  .body_container
    #layout.pure-g
      if theme.widgets_on_small_screens
        .pure-u-1.pure-u-md-1-4: #sidebar
          each item in theme.widgets
            != partial('_widget/' + item + '.pug')
      else
        .pure-u-1-4.hidden_mid_and_down: #sidebar
          each item in theme.widgets
            != partial('_widget/' + item + '.pug')
      .pure-u-1.pure-u-md-3-4: .content_container
        block content
      .pure-u-1.pure-u-md-4-4
        != partial('_partial/footer.pug')

    include _partial/totop
    include _partial/after_footer
  script(type='text/javascript')  var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1273985214'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1273985214%26online%3D1%26show%3Dline' type='text/javascript'%3E%3C/script%3E"));
